@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
.nav-items {
  color: white;
  display: flex;
  gap: 5px;
  position: absolute;
  background-color: #0d0a0a;
}
